:root {
  --bg-color: #24272e; 
  --text-color: #ffffff; 
  --accent-color: #33ffa8; 
}


.light-mode {
  --bg-color: #ffffff;
  --text-color: #111111;
  --accent-color: #29ab87; 
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color); 
}

nav, footer {
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid #ccc;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--accent-color); 
}

nav a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  border-top: 1px solid #ccc;
}

main {
  padding: 2rem;
}

h1, h3 {
  color: var(--accent-color);
}
